@model CantinePakkages
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cantine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center p-2">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    @if(Model.City != null){
                        @foreach (var c in Model.City)
                        {
                            <th class="text-success"><a class="text-success" asp-controller="Pakkage" asp-action="CantinesByCity" asp-route-city="@c.Key" method="get">@c.Key</a></th>
                        }
                    }
                </tr>
            </thead>
        </table>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    @if (Model.Cantine != null)
                    {
                        @foreach (var c in Model.Cantine)
                        {
                            <th class="text-success"><a class="text-success" asp-controller="Pakkage" asp-action="CantinePakkages" asp-route-city="@c?.City" asp-route-cantine="@c?.Location" method="get">@c?.Location</a></th>
                        }
                    }
                </tr>
            </thead>
        </table>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    @if (Model.Pakkages != null && Model.City != null && Model.Cantine != null)
                    {
                        //Does not work because if the location does not have any pakkages it does not get a cantie. Could be solved with a atribute with current cantine?
                        <th class="text-success"><a class="text-success" asp-controller="Pakkage" asp-action="Filtered" asp-route-city="@Model.Cantine.FirstOrDefault()?.City" asp-route-cantine="@Model.Pakkages.FirstOrDefault()?.Cantine" asp-route-type="Breakfast" method="get">Ontbijt</a></th>
                        <th class="text-success"><a class="text-success" asp-controller="Pakkage" asp-action="Filtered" asp-route-city="@Model.Cantine.FirstOrDefault()?.City" asp-route-cantine="@Model.Pakkages.FirstOrDefault()?.Cantine" asp-route-type="Lunch" method="get">Lunch</a></th>
                        <th class="text-success"><a class="text-success" asp-controller="Pakkage" asp-action="Filtered" asp-route-city="@Model.Cantine.FirstOrDefault()?.City" asp-route-cantine="@Model.Pakkages.FirstOrDefault()?.Cantine" asp-route-type="Evning meal" method="get">Avond maal</a></th>
                    }
                </tr>
            </thead>
        </table>
    </div>
    @if (Model.Pakkages != null)
    {
        <div class="align-content-center p-2" align="center">
            @foreach (Domain.Models.Pakkage? p in Model.Pakkages)
            {
                <div class="container pb-5 mt-n2 mt-md-n3 border-bottom" align="center">
                    <div class="col-xl-9 col-md-8 align-content-center" align="center">
                        <h5 class="bg-success text-white text-center m-2 p-2">@p?.Title</h5>
                        <div class="d-sm-flex justify-content-between my-4 pb-4" align="center">
                            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-sm-left">
                            </div>
                            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-sm-left">
                                <div class="text-success fw-bold">Leeftijd:</div>
                                @if (@p?.AgeRestriction == 1)
                                {
                                    <div class="text-success">18+</div>
                                }
                                else
                                {
                                    <div class="text-success">Alle</div>
                                }
                                <div class="text-success fw-bold">Stad:</div>
                                <div class="text-success">@p?.City</div>
                            </div>
                            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-sm-left">
                                <div class="text-success fw-bold">Type:</div>
                                @if (p!.Type.Equals("Evning meal"))
                                {
                                    <div class="text-success">Aavond maal</div>
                                }
                                else if (p!.Type.Equals("Lunch"))
                                {
                                    <div class="text-success">Lunch</div>
                                }
                                else if (p!.Type.Equals("Breakfast"))
                                {
                                    <div class="text-success">Ontbijt</div>
                                }
                                <div class="text-success fw-bold">Prijs:</div>
                                <div class="text-success">€ @p?.Price</div>
                            </div>
                            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-sm-left">
                            </div>
                        </div>
                                <a class="btn btn-danger mt-3" asp-controller="Pakkage" asp-action="Pakkage" asp-route-title="@p?.Title" method="get">Details</a>
                    </div>
                </div>
            }
        </div>
    }
</body>
</html>