@model UserInterface.ViewModels.ViewUpdatePakkage
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PakkageAdd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h5 class="bg-success text-white text-center m-2 p-2">Wijzig het pakket @Model.Title</h5>
    <div class="text-center p-2">
        <form asp-controller="Pakkage" asp-action="Update" asp-route-oldTitle="@Model?.Title" method="post" class="col-xs-1" align="center">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="text-center p-2">
                <div class="col-xs-1 border" align="center">
                    <div class="bg-success text-white text-center m-2 p-2 font-weight-bold">
                        <h5>Pakket informatie</h5>
                    </div>
                    <div class="text-success">
                        <h6 class="font-weight-bold">Details</h6>
                    </div>
                    <div class="row font-weight-bold text-success">
                        <div class="col form-group"><label class="form-label" asp-for="Type"></label></div>
                        <div class="col form-group"><label class="form-label" asp-for="Price"></label></div>
                        <div class="col form-group"><label class="form-label" asp-for="AgeRestriction"></label></div>
                    </div>
                    <div class="row">
                        @if (Model.Type == null)
                        {
                            <div class="col form-group"><input asp-for="Type" class="form-control align-content-center text-center" placeholder="" style="max-width: 10rem;" /></div>
                        }
                        else if (Model.Type.Equals("Evning meal"))
                        {
                            <div class="col form-group"><input asp-for="Type" class="form-control align-content-center text-center" placeholder="Avond maal" style="max-width: 10rem;"/></div>
                        }
                        else if (Model.Type.Equals("Lunch"))
                        {
                            <div class="col form-group"><input asp-for="Type" class="form-control align-content-center text-center" placeholder="Lunch" style="max-width: 10rem;" /></div>
                        }
                        else if (Model.Type.Equals("Breakfast"))
                        {
                            <div class="col form-group"><input asp-for="Type" class="form-control align-content-center text-center" placeholder="Ontbijt" style="max-width: 10rem;" /></div>
                        }
                        <div class="col form-group"><input asp-for="Price" class="form-control align-content-center text-center" placeholder="@Model.Price" style="max-width: 10rem;" /></div>
                        @if (Model.AgeRestriction == 1)
                        {
                            <div class="col form-group">18+</div>
                        }
                        else
                        {
                            <div class="col form-group">Alle</div>
                        }
                    </div>
                    <hr>
                    <div class="text-success">
                        <h6 class="font-weight-bold">Locatie</h6>
                    </div>
                    <div class="row font-weight-bold text-success">
                        <div class="col form-group"><label class="form-label" asp-for="City"></label></div>
                        <div class="col form-group"><label class="form-label" asp-for="Cantine"></label></div>
                    </div>
                    <div class="row">
                        <div class="col form-group"><input asp-for="City" class="form-control align-content-center text-center" placeholder="@Model.City" style="max-width: 10rem;" /></div>
                        <div class="col form-group"><input asp-for="Cantine" class="form-control align-content-center text-center" placeholder="@Model.Cantine" style="max-width: 10rem;" /></div>
                    </div>
                    <hr>
                    <div class="text-success">
                        <h6 class="font-weight-bold">Ophaal datum</h6>
                    </div>
                    <div class="row font-weight-bold text-success">
                        <div class="col form-group"><label class="form-label" asp-for="PickUpDate"></label></div>
                        <div class="col form-group"><label class="form-label" asp-for="ExperationDate"></label></div>
                    </div>
                    <div class="row text-success">
                        <div class="col form-group"><input asp-for="PickUpDate" class="form-control" placeholder="@Model.PickUpDate" style="max-width: 20rem;"/></div>
                        <div class="col form-group"><input asp-for="ExperationDate" class="form-control" placeholder="@Model.ExperationDate" style="max-width: 20rem;"/></div>
                    </div>
                    <div class="text-success">
                        <h6 class="font-weight-bold">Reserveering</h6>
                    </div>
                    <div class="row font-weight-bold">
                        @if (Model.ReservedFor == null)
                        {
                            <div class="col">Niet gereserveerd</div>
                        }
                        else
                        {
                            <div class="col">@Model.ReservedFor</div>
                        }
                    </div>
                </div>
            </div>    
            @if (Model.ReservedFor == null)
            {
                <div class="text-center">
                    <button type="submit" class="btn btn-danger mt-3">Wijzig</button>
                </div>
            }
        </form>
    </div>
    <h5 class="bg-success text-white text-center m-2 p-2">De producten</h5>
    <div class="text-center p-2">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Alcohol</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Domain.Models.Product? p in Model!.Products)
                {
                    <tr>
                        <td class="text-success"><a asp-controller="Product" asp-action="Product" asp-route-title="@p?.Title" method="get" class="text-success">@p?.Title</a></td>
                        @if (p?.Alchol == 1)
                        {
                            <td class="text-success">Bevat alcohol</td>
                        }
                        else
                        {
                            <td class="text-success">Bevat geen alcohol</td>
                        }
                        @if (Model!.ReservedFor == null)
                        {
                            <td><a asp-controller="Pakkage" asp-action="DeleteProduct" asp-route-pakkageTitle="@Model.Title" asp-route-productTitle="@p?.Title" method="get" class="btn btn-danger mt-3">Verwijder</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model!.ReservedFor == null)
    {
        <div class="d-flex justify-content-center">
            <form asp-controller="Pakkage" asp-action="AddProduct" asp-route-pakkageTitle="@Model.Title" method="post" class="col-lg-6 offset-lg-3 m-2 align-content-center">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label class="form-label text-success" for="date">Product title:</label>
                    <input type="text" id="productTitle" name="productTitle" class="form-control" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger mt-3">Voeg toe</button>
                </div>
            </form>
        </div>
    }
    @if (Model.ReservedFor == null)
    {
        <div class="text-center p-2">
            <a asp-controller="Pakkage" asp-action="Delete" asp-route-title="@Model?.Title" method="get" class="btn btn-danger mt-3">Verwijder pakket</a>
        </div>
    }
</body>
</html>