@model Domain.Models.Pakkage
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pakkage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h5 class="bg-success text-white text-center m-2 p-2">@Model.Title</h5>
    <div class="text-center p-2">
        <div class="col-xs-1 border" align="center">
            <div class="bg-success text-white text-center m-2 p-2 font-weight-bold">
                <h5>Pakket informatie</h5>
            </div>
            <div class="text-success">
                <h6 class="font-weight-bold">Details</h6>
            </div>
            <div class="row font-weight-bold">
                <div class="col">Titel:</div>
                <div class="col">Prijs:</div>
                <div class="col">Leeftijd:</div>
            </div>
            <div class="row text-success">
                @if(Model.Type.Equals("Evning meal")){
                    <div class="col">Aavond maal</div>
                }
                else if (Model.Type.Equals("Lunch"))
                {
                    <div class="col">Lunch</div>
                }
                else if (Model.Type.Equals("Breakfast"))
                {
                    <div class="col">Ontbijt</div>
                }
                <div class="col">€ @Model.Price</div>
                @if(Model.AgeRestriction == 1){
                    <div class="col">18+</div>
                }
                else{
                    <div class="col">Alle</div>                    
                }
            </div>
            <hr>
            <div class="text-success">
                <h6 class="font-weight-bold">Locatie</h6>
            </div>
            <div class="row font-weight-bold">
                <div class="col">Stad:</div>
                <div class="col">Canine:</div>
            </div>
            <div class="row text-success">
                <div class="col">@Model.City</div>
                <div class="col">@Model.Cantine</div>
            </div>
            <hr>
            <div class="text-success">
                <h6 class="font-weight-bold">Ophaal datum</h6>
            </div>
            <div class="row font-weight-bold">
                <div class="col">Ophaal datum:</div>
                <div class="col">Verval datum:</div>
            </div>
            <div class="row text-success">
                <div class="col">@Model.PickUpDate</div>
                <div class="col">@Model.ExperationDate</div>
            </div>
            <div class="text-success">
                <h6 class="font-weight-bold">Reserveering</h6>
            </div>
            <div class="row font-weight-bold">
                <div class="row font-weight-bold">
                    @if (Model.ReservedFor == null)
                    {
                        <div class="col">Niet gereserveerd</div>
                    }
                    else
                    {
                        <div class="col">@Model.ReservedFor</div>
                    }
                </div>
            </div>
        </div>
    </div>
    <h5 class="bg-success text-white text-center m-2 p-2">De producten</h5>
    <div class="text-center p-2">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th class="text-success">Title</th>
                    <th class="text-success">Alcohol</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Domain.Models.Product? p in Model.Products)
                {
                    <tr>
                        <td class="text-success"><a class="text-success" asp-controller="Product" asp-action="Product" asp-route-title="@p?.Title" method="get">@p?.Title</a></td>
                        @if(p?.Alchol == 1){
                            <td class="text-success">Bevat alcohol</td>
                        }
                        else
                        {
                            <td class="text-success">Bevat geen alcohol</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.ReservedFor == null)
    {
        <div class="text-center p-2">
            <a asp-controller="Pakkage" asp-action="Reserve" asp-route-title="@Model.Title" method="get" class="btn btn-danger mt-3">Reserveer het pakket</a>
        </div>
    }
</body>
</html>